<li>
    <a href="#"><i class="icon-location4"></i> <span><%= t(:area) %></span></a>
    <ul>
        <li>
            <%= link_to t(:areas), naturesoft_areas.backend_areas_path %>
        </li>
        <li>
            <%= link_to t(:countries), naturesoft_areas.backend_countries_path %>
        </li>
    </ul>
</li>